//colours
$white: #f5f3ed;
$black: #0f0e0e;
$background-colour: #65cb77;
$background-colour-2:#ede6e6;
$primary-colour: #6f7944;
$primary-colour-hover: #0f0e2e;
$secondary-colour-hover: #f5f5ed;

// fonts
$primary-font-family: "Open Sans", sans-serif;

// posts sizes
$gap: 20px;